build/
out/
cmake-build-*/
CMakeFiles/

CMakeCache.txt
Makefile
compile_commands.json

*.user
*.user.*
.qtc_clangd/
.cache

.vs/
.vscode/
.idea/
.qtcreator/

*.vcxproj*
*.sln

.DS_Store
Thumbs.db

.env

client.log