name: Chat app

services:
  db:
    image: postgres:17
    container_name: app-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  server:
    build: .
    image: chat-app-server:latest
    container_name: chat_app_server
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DB_HOST: db
    ports:
      - "8080:8080"

volumes:
  postgres_data:
